In [13]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine import URL


db_file_path = r"C:\Users\GILBERT FG\Desktop\Readings\PSP_database.accdb"

conn_str = (
    r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={db_file_path};"
)

engine = URL.create("access+pyodbc", query={"odbc_connect": conn_str})

conn = create_engine(engine)

inspector = inspect(conn)

for table in inspector.get_table_names():
    print(table)

Block register
Plot monitoring history
Plot-block relation
PSPs
Slope correction factors
Thinning history
TreeData

In [14]:
import pandas as pd

query = "SELECT * FROM TreeData"
df = pd.read_sql(query, conn)

df.head()

,Plantations,AreaType,Monitoring year,Monitoring month,Monitoring day,PLOT,TREE NR,Tree SPECIES,Species scientific name,H (m),DBH (cm),Merchantable height (m),REMARKS,Incorrect DBH,Incorrect H,Incorrect H / DBH,Exclude,Justification for exclusion
0,Tain II,Gmelina,2021.0,1.0,22,G1,14.0,Gmelina,Gmelina arborea,6.50,9.0,None,None,False,False,None,False,
1,Tain II,Gmelina,2021.0,1.0,22,G1,15.0,Gmelina,Gmelina arborea,7.25,10.0,None,None,False,False,None,False,
2,Tain II,Gmelina,2021.0,1.0,22,G1,16.0,Gmelina,Gmelina arborea,1.00,0.0,None,None,False,False,None,False,
3,Tain II,Gmelina,2021.0,1.0,22,G1,17.0,Gmelina,Gmelina arborea,8.00,13.0,None,None,False,False,None,False,
4,Tain II,Gmelina,2021.0,1.0,22,G1,18.0,Gmelina,Gmelina arborea,8.25,13.5,None,None,False,False,None,False,